<div id="nav-container">
    <div id="nav-wrapper">
        <ul data-collapse-nav data-highlight-active id="nav">
            <li>
                <a href="#/home"><i class="fa fa-dashboard"></i><span> Dashboard</span></a>
            </li>
            <li>
                <a href="#/colet"><i class="fa fa-cogs"></i><span> Colet</span></a>
            </li>
            <li>
                <a href="#/account"><i class="fa fa-user"></i><span> Account</span></a>
            </li>
            <li>
                <a href="#/billing"><i class="fa fa-cc"></i><span> Billing</span></a>
            </li>
            <li>
                <a href="#/support"><i class="fa fa-support"></i><span> Support</span></a>
            </li>
            <li>
                <a href="#/security"><i class="fa fa-shield"></i><span> Security</span></a>
            </li>
            <li>
                <a href="#/user"><i class="fa fa-users"></i><span> Users</span></a>
                <ul>
                    <li>
                        <a href="#/user/list"><i class="fa fa-caret-right"></i> List</a>
                    </li>
                    <li>
                        <a href="#/user/profile"><i class="fa fa-caret-right"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#/user/password"><i class="fa fa-caret-right"></i> Change Password</a>
                    </li>
                    <li>
                        <a go-click="/" href="javascript:;" log-out><i class="fa fa-caret-right"></i> Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>